<div class="container">

    <div style="float: right; position: absolute; top: 0%; left: 35%; font-size: 0.9cm;">
        <h1>Suppliers</h1>
        <nav class="navbar navbar-light bg-light ">
            <h5>View and manage your suppliers. <a class="active" href="#"> Need help? </a></h5>
            <a href="#" class="btn btn-success btn-lg active " role="button" aria-pressed="true">Add Supplier</a>
        </nav>

        <div class="container">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Default Markup</th>
                    <th>Number of Products</th>
                </tr>

                <tr>
                    <td><a class="active" href="#"><u> Flo & Frankie</u> </a></td>
                    <td> </td>
                    <td>0%</td>
                    <td>14</td>
                    <td><a class="active" href="#"> <u> View Products</u> </a></td>
                </tr>

            </table>

        </div>
    </div>

</div>