<div class="closeRegister">
    <h2>Close Register</h2><br>
    <p>Close your register to finalize payments and sales for the day.</p><br>
    <table border="0" class="table">
        <tr>
            <th>Register Details</th>
            <strong>
                <td>Outlet <br>Register <br> Closure # <br> Opening time</td>
            </strong>
            <td>Main Outlet <br> Main Register <br> 2 <br> Sun, 18th October, 2020, 1:10pm</td>
        </tr>
    </table>
    <hr>

    <table class="table">
        <tr>
            <th>Payments Summary</th>
        </tr>
        <tr>
            <td>
                <p>Balance your register <br> by entering the amount counted <br>
                    from the till and other payment <br>
                    terminals into the empty fields <br> here.</p>
            </td>
        </tr>
        <td>

            <div>
                <hr>
                <table>
                    <tr>
                        <th>
                            Payment Types
                        </th>
                        <th>
                            Expected (USh)
                        </th>
                        <th>
                            Counted (USh)
                        </th>
                        <th>
                            Differences (USh)
                        </th>
                    </tr>
                    <tr>
                        <td>Gift Card</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.00</td>
                    </tr>
                    <tr>
                        <td>Loyalty</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.00</td>
                    </tr>
                    <tr>
                        <td>Store Credit</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.00</td>
                    </tr>
                    <br>
                    <tr>
                        <td>Totals</td>
                        <td>0.00</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                </table>
            </div>
        </td>
    </table>
</div>