<div class="wrapper">

    <nav id="sidebar" class="nav">
        <div class="sidebar-header">
            <h3>Main Register</h3>
        </div>
        <p>main outlet</p>

        <ul class="nav flex-column">
            
            <li class="nav-item">
                <a class="nav-link active" routerLink="/">sell</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link"  routerLink="open">Open/Close</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="salesHistory">Sales History</a>

            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="cashManagent">Cash Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="status">Status</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="settings">Settings </a>
            </li>
        </ul>
    </nav>


</div>
<div style="float: right; position: absolute; top: 0%; left: 25%; font-size: 0.9em;">
    <form action="">
        <div class="form-group">
            <label for=""> <b> Search for products</b></label>
            <input type="text" class="form-control" placeholder="Start typing or scanning..."><br>

        </div>
    </form>
</div> 