<form #customer="ngForm" (ngSubmit)="createNewCustomer()">
<div class="panel panel-primary">
    <div class="panel-heading">
        <h1 class="panel-title">Add Customer</h1>
    </div>
    <div class="panel-body">
        <div class="form-group" [class.has-error]="firstname.invalid && name.touched"
         [class.has-success]="firstname.valid">
            <label for="name" class="control-label"> First Name</label>
            <input required  type="text" placeholder="Enter first name" class="form-control" #firstname="ngModel">
            <span class="help-block" *ngIf="firstname.invalid && firstname.touched">
                 First Name is required
            </span>
            
        </div>
        <div class="form-group" [class.has-error]="name.invalid && name.touched"
         [class.has-success]="name.valid">
            <label for="lastname" class="control-label"> Last Name</label>
            <input required  type="text" placeholder="Enter last name" class="form-control" #lastname="ngModel">
            <span class="help-block" *ngIf="lastname.invalid && lastname.touched">
                 Last Name is required
            </span>
            
        </div>
       <div class="form-group" [class.has-error]="email.invalid">
            <label for="email" class="control-label">Email</label>
            <input required placeholder="Enter email" pattern="[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" type="text" class="form-control">
            <span class="help-block" *ngIf="email.errors?.required">
                Email is required
           </span>
        <span class="help-block" *ngIf="email.errors?.pattern">
            Email is invalid
       </span>

        </div>

        
        <div class="form-group" [class.has-error]="phoneNumber.invalid">
            <label for="phoneNumber" class="control-label">Contact Number</label>
            <input required placeholder="Enter mobile number" type="text" class="form-control">
            <span class="help-block" *ngIf="phoneNumber.errors?.required">
                Contact Number is required
            </span>
        </div>
        <div class="form-group">
            
            <div class="form-control">
                <label class="checkbox-inline" control-label>
                <input type="checkbox" name="isActive" [(ngModel)]="employee.isActive"> Is Active
                
                </label>
             
            </div>
            

          </div>  

          <div class="form-group" [class.has-error]="customerGroup.touched && department.invalid">
            
            
                <label for="department" class="control-label">
                    Customer Group
                </label>
                <select name="customerGroup" class="form-control"> 
                    <option value="select">Select Department</option> 
                   <option value="select">All</option>
                   <option value="select">All Customers</option>
                </select>
                <span class="help-block" *ngIf="customerGroup.touched && customerGroup.errors?.defaultSelected">
                    Customer Group is required
                </span>
                </div>
                <div>
                <input type="radio" name="Opt-In to Marketing and Promotional Emails">
                </div>
                <div>
                <h3>
                Add an email address to this customer so that you can email their receipts or send them promotional emails.
                <h3>
                </div>
        
         <div class="panel-footer">
            <button type="submit" class="btn btn-primary" [disabled]="employeeForm.invalid">Create New Customer</button>
        </div>
    
</div>
</form>


