 <div style="float: right; position: absolute; text-decoration: none; top: 0%; left: 15%; font-size: 3em;" class="container">
    <nav class="navbar navbar-default">
        <ul style="text-decoration: none;" class="nav flex-column">
            <li role="presentation" class="nav-item">
                <a class="nav-link" routerLink="customer">Customers</a>
            </li>
            <li role="presentation" class="nav-item">
                <a class="nav-link" routerLink="groups">Groups</a>
            </li>
        </ul>
    </nav>

</div> 

