<div>
<h1>Customers</h1>
<div>
    <p>
        Manage your customers and their balances, or segment them by demographics and spending habits.
    </p>
    <div class="border">
        <button (click)="importCustomer()" class="btn btn-primary">Import Customer</button>
        <button (click)="addCustomer()" class="btn btn-primary">Add Customer</button>
    </div>

</div>


<div class="form-group">
    <label>Search for a customer</label>
    <input type="search" placeholder="Enter name, customer code or contact details">
    <select class="form-control" formControlName="customergroup" (change)="onChangeCustomerGroup()">
        <label value="">Customer Group</label>
        <option *ngFor="let customer group of customer groups" [ngValue]="customergroup">{{customerGroup.name}}</option>
    </select>
    
    <label>more filters</label>
    <button class="btn btn-primary">Search</button>
</div>
</div>
