<div style="float:right; position:absolute; top:0%; left:25%;" class="wrapper">
    <h1>
        Customer Groups
    </h1>

    <div>
        <p>Group customers for reporting and providing targeted promotions or special offers.<a
                href="www.google.com">Need help?</a></p>
        <button (click)="addGroup()" class="btn btn-primary">Add Group</button>
    </div>
    <div>
        <table>
            <tr>
                <td>
                    Name
                </td>
                <td>
                    Date Created
                </td>
                <td>
                    Number of Customers
                </td>
            </tr>
        </table>
    </div>
</div>