<div>
    <h1>
        Import Customer
    </h1>
</div>
<div>
    <p>Create a spreadsheet file. We'll check your data for common errors before uploading it.<a href="www.google.com">Need help?</a></p>
    <button class = "btn btn-primary">Back to Customers</button>
</div>
<div>
    <h2>Upload a Spreadsheet to Import Customers.</h2>
    <p>Drag and drop a file (CSV, XLSX, or XLS) anywhere or browse your files.</p>
    <button class="btn btn-primary">
        <input type="file" name="Choose File to Upload...">
    </button>
</div>
