.cash{
    font-size: 80%;
<<<<<<< HEAD
}
.cash{
    float: right; position: absolute; top: 0%; left: 28%;
}
.cashButtons{
    float: right;
}
.cashRemove{
    display: none; float: right; position: absolute; top: 20%; left: 10%;
}
.table1{
    background-color: rgb(255, 255, 255); color: rgb(7, 7, 7); display: flexbox;
}
#addCash{
    display: none; float: right; position: absolute; top: 20%; left: 10%;
=======
>>>>>>> 745fde9f2e13269d1238ecc53f71858ad5470bd0
}