<div class="container1">
    <form action="">
        <div class="form-group">
            <label for=""> <b> Search for products</b></label>
            <input type="text" class="form-control" placeholder="Start typing or scanning..."><br>
            <div class="container2" (click)="naraDress()">
                Nara dress
            </div>
            <div class="container3">
                My dress sunglasses
            </div>
            <div class="container4">
                Audichild dress
            </div>

            <div class="container5">
                <div class="form-group">
                    <form action=""><br>
                        <input type="text" class="form-control" placeholder="Add a customer"><br>
                        <div></div>

                        <div class="form-row">
                            <div class="col-4">
                                <label for=""><b>Quatity</b></label>
                                <input type="number" class="form-control" placeholder="">
                            </div>
                            <div class="col">
                                <label for=""><b>Price</b></label>
                                <input type="number" class="form-control" placeholder="">
                            </div>
                            <div class="col">
                                <label for=""><b>Discount(%)</b></label>
                                <input type="number" class="form-control" placeholder="">
                            </div>
                        </div><br>
                        <label for=""><b>Notes</b></label>
                        <input type="text" class="form-control" placeholder="Type to add a note...">
                        <hr>
                        <div>
                            <pre><b>ADD</b>                         Promo Code   <a href="">Note</a></pre>
                        </div>
                        <hr>
                        <div>
                            <pre><b>Subtotal</b>                    USh67.0   </pre>
                        </div>
                        <hr>
                        <div>
                            <pre><a href="">Discount</a>                    USh0.00   delete</pre>
                        </div>
                        <hr>
                        <div>
                            <pre><b>Tax No Tax</b>                    USh0.00   </pre>
                        </div>
                        <hr>
                        <div>
                            <button type="button" class="btn btn-success">
                                <pre
                                    style="color: white;"> Pay<sub style="font-size: 0.7em;">1item</sub>                   Ush 66.70  </pre>
                            </button>
                        </div>


                    </form>
                </div>

            </div>

        </div>
    </form>
</div>
