
<div class="wrapper">
    
    <nav id="sidebar">

        <ul class="list-unstyled components">
            <li class="active">
                <a routerLink="">Home</a>
            </li>
            <li>
                <a routerLink="/sell">Sell</a>
            </li>
            <li>
                <a routerLink="/products">Products</a>

            </li>
            <li>
                <a routerLink="/customers">Customers</a>
            </li>
            <li>
                <a routerLink="/reporting">Reporting</a>
            </li>
            <li>
                <a routerLink="/salesledger">Sales Legder</a>
            </li>
            <li>
                <a routerLink="/setup">Setup</a>
            </li>
        </ul>
    </nav>

</div>


<router-outlet></router-outlet>