<h1>{{title}}</h1>

<h3><a style="text-decoration: none;" routerLink="home">Home</a></h3>
<h3><a style="text-decoration: none;" routerLink="/sell">Sell</a></h3>
<h3><a style="text-decoration: none;" routerLink="/products">Products</a></h3>
<h3><a style="text-decoration: none;" routerLink="/customers">Customers</a></h3>
<h3><a style="text-decoration: none;" routerLink="/reporting">Reporting</a></h3>
<h3><a style="text-decoration: none;" routerLink="/salesledger">Sales Legder</a></h3>
<h3><a style="text-decoration: none;" routerLink="/setup">Setup</a></h3>


<router-outlet></router-outlet>