
.container-fluid{
    top:0%;
    position: fixed;
    
}








table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
  }