<div class="container-fluid">

    <div style="float: right; position: absolute; top: 0%; left: 35%; font-size: 0.9cm;">
        <nav class="navbar navbar-light" style="background-color: #e3f2fd; ">
            <h1>Price Books</h1>
            <nav class="navbar navbar-light" style="background-color: lightblue;">
                <h5>A list of all of your price books. <a class="active" href="#"> <u>Need help?</u> </a></h5>
                <a href="#" class="btn btn-success btn-lg active " role="button" aria-pressed="true">Add Price
                    Book</a>
            </nav>

            <div class="container">
                <nav class="navbar navbar-light" style="background-color: white; ">
                    <section>
                        <img src="https://i.pinimg.com/564x/de/a5/14/dea514f97b3d1c4811d13f13ddf13257.jpg"
                            alt="Northern Lights"></section>
                    <article>
                        <h2>Introducing Vend’s discounting tools</h2>
                        <p>Bring in new customers with no spreadsheets required. With Vend’s easy new discounting tools
                            you
                            can run
                            offers by time or date range, target specific customers and outlets, and run individual or
                            blanket
                            product promotions. Save time, enhance brand loyalty and boost revenue, now.
                        </p>
                    </article>
                </nav>
            </div>
            <br>
            <br>
            
                <div class="container">
                    <table>
                        <tr>
                            <th>Price Book Name</th>
                            <th>Customer Group</th>
                            <th>Outlet</th>
                            <th>Valid From</th>
                            <th>Valid To</th>
                            <th>Created At</th>
                        </tr>
                        <tr>
                            <td><a class="active" href="#"> <u>General Price Book (All Products)</u> </a></td>
                            <td>All Customers</td>
                            <td>All Outlets</td>
                            <td>-</td>
                            <td>-</td>
                            <td>07 Nov ’20 12:59 am</td>
                        </tr>

                    </table>

                </div>
            




        </nav>
    </div>


</div>












<!--<nav class="navbar navbar-light bg-light "></nav>
<div class="float-right d-flex p-2 bd-highlight">
      <span class="navbar-brand mb-0 h1">Navbar</span>
-->