<div class="settings">
    <h3>Settings</h3> <br>

    <h6 style="background-color: rgb(217, 221, 224);"> Manage your register settings <br><br></h6>

    <table class="table">
        <tr>
            <th>Training Mode</th>
        </tr>
        <tr>
            <td>Enable Training Mode if you are <br>
                new to POS and want to learn <br>
                the ropes. You'll be selling like a <br>
                pro in time</td>
            <td>
                <button type="reset" class="btn btn-primary">Enable Training Mode </button>
            </td>
        </tr>

    </table> <hr>
</div>