<div style="float: right; position: absolute; top: 0%; left: 25%;">
    <h1><b>Start your retail succes with Point Of Sale</b></h1>
    <br>

    <div class="centeredright">
        <button router-link="/Make a Sale">Make a Sale</button>
        <p>Explore the Sell screen, and learn how to make your first sale in seconds</p>
        <p>You've made a sale!</p>
    </div>
    <button router-link="/Add a Product"><a href="hoovee.html">Add a Product</a></button>
    <p>Manage your products easily,whether you want to add one or import one thousands</p>
    <br>
    <div class="bottomcentered">
        <button router-link="/Add a Customer">Add a Customer</button>
        <p>Start a customer base to grow repeat business or simply add existing customers</p>
    </div>
    <p>Making trade easy</p>
</div>