<div style="float: right; position: absolute; top: 0%; left: 25%;background-color: rgba(178, 240, 201, 0.842);">

    <p style="background-color: rgb(39, 184, 75);padding-left: 10%;text-decoration-color: rgba(244, 247, 247, 0.822);"class="progress-bar progress-bar-striped progress-bar-animated"><b>You have started your free trial period. <a href>Activate your account now.</a></b></p><br>
    <h1 style="padding-left: 10%;"> <b>Start your retail succes with Point Of Sale</b></h1>
    <p style="display: flex;position: relative;padding-left: 35%; "><strong>Get to know the basics in three easy ways</strong></p>
    <br>
    <div container>
        <div class="section">
    <div class="form-row" style="height: 400px;text-align: center;border: 10px;background-color: rgb(229, 253, 253);width: 100%;padding-right: 0%;">

        <div class="col-md-4 mb-3">
            <img src="msales.PNG">
            <h2>Make a Sale</h2>
            <p>Explore the Sell screen, and learn how to make your first sale in seconds</p>
            <button router-link="/Make a Sale" class="btn btn-success">Make a Sale</button>

        </div>
        <div class="col-md-4 mb-3">
            <img src="desktop/point of sale html/add.png" alt="Products">
            <h2>Add a Product</h2>
            <p>Manage your products easily,whether you want to add one or import one thousands</p>
            <button class="btn btn-success">Add a Product</button>
            <br>
        </div>

        <div class="col-md-4 mb-3">
            <img src="msale" >
            <h2>Add a Customer</h2>
            <p>Start a customer base to grow repeat business or simply add existing customers</p>
            <button router-link="/Add a Customer" class="btn btn-success">Add a Customer</button>
            
        </div>
        <p> For help with setting up Point Of Sale, <a href="#">Getting Started Guide</a>
    </div>
    </div>
    </div>
    
        <br>
 <h1 style="padding-left: 10%;"><strong> Every part of your business, in sync.</strong></h1>
<p>Here are the some of ways to automate the heavy lifting of running your business so you can focus on succes.</p>

 <div class="form-row">
     <div>
         <h1>Sell in-store and online.</h1>
         <p>Add a new product to your catalogue and sell it anywgere instantly. Manage your in-store and omline inventory, customers and sales all in one place.</p>
          <a href>Explore our ecommerce Add-ons</a>
        
     </div>
     <div>
         <h1>see your performance in real-time.</h1>
         <p>See your cashflow in real-time with xero,the most popular integrated online accounting software.Post daily sales reports,generaye invoices and sync customers.</p>
         <a href>learn more about xero.</a>
     </div>
 </div>
</div>