<div class="container">

    <div style="float: right; position: absolute; top: 0%; left: 35%; font-size: 0.9cm;">
        <h1>Product Tags</h1>
        <nav class="navbar navbar-light bg-light ">
            <h5> A list of all of your product tags. <a class="active" href="#">  Need help? </a></h5>
            <a href="#" class="btn btn-success btn-lg active " role="button" aria-pressed="true">Add Tag</a>
        </nav>

        <div class="container">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Number of Products</th>
                </tr>

                <tr>
                    <td><a class="active" href="#"><u> Dress</u> </a></td>
                    <td>4</td>
                    <td><a class="active" href="#"> <u> View Products</u> </a></td>
                </tr>

                <tr>
                    <td><a class="active" href="#"><u> Shirt</u> </a></td>
                    <td>1</td>
                    <td><a class="active" href="#"> <u> View Products</u> </a></td>
                </tr>

                <tr>
                    <td><a class="active" href="#"><u> Sunglasses</u> </a></td>
                    <td>1</td>
                    <td><a class="active" href="#"> <u> View Products</u> </a></td>
                </tr>

                <tr>
                    <td><a class="active" href="#"><u> Watch</u> </a></td>
                    <td>1</td>
                    <td><a class="active" href="#"> <u> View Products</u> </a></td>
                </tr>

            </table>

        </div>




    </div>

</div>
